<div style="margin-bottom: 20px">
    <div>
        <p style="margin-bottom: 0px"><strong>Server profile visibility:</strong></p>
    </div>
    <div>
        <select onchange="setPrivacy(this.selectedIndex)">
            <option name="0">Visible to everyone</option>
            <option name="1">Only visible to server members</option>
            <option name="2">Only visible to server members with Manage Server permission</option>
        </select>
    </div>
</div>

<script>
    function setPrivacy(value) {
        $.ajax({
            url : "/set-guild-privacy",
            type: "POST",
            data: $.param({
                id: "<%- guild.id %>",
                value: value
            })
        });
    }
</script>