<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TimePlayed - Not Premium</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		
		<style>
			* {
				box-sizing: border-box;
			}

			/* Create three equal columns that floats next to each other */
			.column {
				width: 380px;
				margin: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				border-radius: 10px;
				background-color: #333435;
			}

			.column p {
				color: white;
				margin-bottom: 0px;
				text-align: center;
				line-height: 25px;
			}
			.column p.time {
				font-size: 10px;
				line-height: 15px;
			}

			.row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}
			.settings-button {
				float: right;
			}
			.modalDialog {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.8);
				z-index: 99999;
				opacity:0;
				-webkit-transition: opacity 400ms ease-in;
				-moz-transition: opacity 400ms ease-in;
				transition: opacity 400ms ease-in;
				pointer-events: none;
			}
			.modalDialog:target {
				opacity:1;
				pointer-events: auto;
			}
			.modalDialog > div {
				width: 500px;
				position: relative;
				margin: 10% auto;
				padding: 5px 20px 13px 20px;
				border-radius: 10px;
				background: #d3d3d3	;
			}
			.closeWindow {
				background: #606061;
				color: #FFFFFF;
				line-height: 25px;
				position: absolute;
				right: -12px;
				text-align: center;
				top: -10px;
				width: 24px;
				text-decoration: none;
				font-weight: bold;
				-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
				border-radius: 12px;
				-moz-box-shadow: 1px 1px 3px #000;
				-webkit-box-shadow: 1px 1px 3px #000;
				box-shadow: 1px 1px 3px #000;
			}
			.closeWindow:hover {
				background: #00d9ff;
			}
		
		</style>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">TimePlayed</a></h1>
						<% include('../partials/nav') %>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Invalid server</h2>
						</header>
						<section class="wrapper style5" style="padding-top: 3em;">
							<div class="inner">
							<section style="position: relative">
								Sorry, the server you selected doesn't seem to exist or isn't premium.
								If your server is premium, please make sure the URL contains the correct server ID.
								If this error keeps occuring please ask for help in the support server or report this as a bug.
							</section>
							</div>
						</section>
					</article>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://discordbots.org/bot/433625399398891541?" target="_blank" class="no-stripe"><img src="/images/discordbots.png" style="width:30px"></a></li>
						<li><a href="http://support.timeplayed.xyz" target="_blank" class="no-stripe"><img src="/images/discord.png" style="width:30px"></a></li>
						<li><a href="https://www.patreon.com/TimePlayed" target="_blank" class="no-stripe"><img src="/images/patreon.png" style="width:30px"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Valentijn van Winden</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>
			
	</body>
</html>
