<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TimePlayed - Getting started</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">TimePlayed</a></h1>
						<% include('./partials/nav') %>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Getting started</h2>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<p>On this page, you will get all the help inviting and getting started with the bot. If you need any more help, please contact me by visiting the <a href="faq-support.html">support</a> page.</p>
								<h3>1. Invite the bot</h3>
								<p>To get started, the first thing you'll need to do is inviting the bot. Do that by clicking on <a href="https://discordapp.com/oauth2/authorize?client_id=433625399398891541&permissions=268446720&scope=bot" target="_BLANK">this</a> link. Please make sure to check all the permissions, otherwise the bot won't work properly.</p>
								<blockquote>Note: You will need to have the <code>Manage Server</code> permission to add me to your server</blockquote>
								<p>Now you have the bot added to your server, we can start configuring it how you like it.</p>
								<h3>2. Change the prefix</h3>
								<p>First, let's start with the bot's prefix. If you have no other bots in your server that will collide with each other's prefixes you can skip this step.<br>
								The bot's default prefix is <code>!!</code>, but it can be changed to whatever you like. To do so, run the <code>!!setConfig prefix (new prefix)</code> command. The administrator permission is requried to do this.<br>
								Please be careful with this feature and don't change the prefix to <code>djfksljdfkl</code> for example. Remember that if you mess it up you can always use @TimePlayed#3248 as prefix or simply mention @TimePlayed#3248 to get the prefix of the server.</p>
								<h3>3. Set the default game</h3>
								<p>When users in your server run a playtime command without any game specified, I will use the server's default game as game. The start value for the default game is <code>Fortnite</code>, but of course this can also be changed.<br>
								To change the default game, run the <code>!!setConfig defaultGame (new default game)</code> command. Remember that you might have changed your prefix in step 2, if so please use this command with your new prefix. You will also need the administrator permission to run this command.</p>
								<h3>4. Add role awards</h3>
								<p>To keep your server members active, I have a role award feature. This will award users roles you specified when they reach a specific playtime of a game. It's a very cool feature and you should definetely try it out. To setup role awards, please visit the <a href="commands.html#role-awards">role awards explanation</a> on the command page.</p>
							</div>
						</section>
					</article>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://discordbots.org/bot/433625399398891541?" target="_blank" class="no-stripe"><img src="images/discordbots.png" style="width:30px"></a></li>
						<li><a href="http://support.timeplayed.xyz" target="_blank" class="no-stripe"><img src="images/discord.png" style="width:30px"></a></li>
						<li><a href="https://www.patreon.com/TimePlayed" target="_blank" class="no-stripe"><img src="images/patreon.png" style="width:30px"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Valentijn van Winden</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
