<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TimePlayed Discord Bot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		
		<script src="/js/jquery.min.js"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="#">TimePlayed</a></h1>
						<% include('./partials/nav') %>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>TimePlayed</h2>
							<p>The easy-to-use Discord bot<br> that measures your playtime</p>
							<ul class="actions">
								<li><a href="http://invite.timeplayed.xyz" target="_BLANK" class="button special">Invite me!</a></li>
							</ul>
							<p style="margin-bottom: 10px;">Currently watching the playtime of:</p>
							<p><span class="large-stand-out" id="count" style="font-size: 3em">0</span> users</p>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

					<script>
						var userCount = <%= userCount %>;
						setTimeout(function() {
							$({countNum: 0}).animate({countNum: userCount}, {
								duration: 2000,
								step: function() {
									$('#count').text(Math.floor(this.countNum));
								},
								complete: function() {
									$('#count').text(this.countNum);
								}
							});
						}, 2000)
						
					</script>

				<!-- Intro -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major" style="margin-bottom: 0px">
								<h2>Hi there, I am TimePlayed</h2>
								<p style="margin-bottom: 30px">I am a bot that helps you as server owner to view what games are popular in your server, and to get users to be active in your server. I'm measuring your playtime using Discord presences, so you and your server members will have an overview about how long and which games they play.<br>
								<strong>It's quite useful, you should definitely give it a try!</strong></p>
							</header>
								<a href="https://discordbots.org/bot/433625399398891541?" target="_blank" class="no-stripe">
									<img src="https://discordbots.org/api/widget/433625399398891541.svg">
								</a>
						</div>
					</section>

					<!-- Features -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Features</h2>
							</header>
							<ul class="features">
								<li class="icon fa-plug">
									<h3>Compatible with ANY application</h3>
									<p>I am compatible with any game/software you can think of. I simply work with Discord presences, so the only thing you'll have to do is add a game (tutorial <a target="_blank" href="https://support.discordapp.com/hc/en-us/articles/217960107-Games-Detection-101">here</a>), and run your Discord while gaming. Then I'll log your playtime!</p>
								</li>
								<li class="icon fa-credit-card">
									<h3>Free for everyone</h3>
									<p>All my essential commands/features (except some special add-ons) are, and will always be, entirely free. I'm relying entirely on donations of users.</p>
								</li>
								<li class="icon fa-lock">
									<h3>Privacy friendly</h3>
									<p>Users will individually need to accept to my Terms of Service in order to log their playtime, I will not log anything without anyone's permission</p>
								</li>
								<li class="icon fa-user">
									<h3>User friendly</h3>
									<p>I'm always improving the bot's user experience to keep it as simple and understandable as possible. I listen to your feedback and try to make the bot perfect.</p>
								</li>
								<li class="icon fa-clock-o">
									<h3>Always online and available</h3>
									<p>Except for some updates or unexpected issues, I'm always there for you. Reach out to me whenever you need me, 24/7 all days of the year!</p>
								</li>
								<li class="icon fa-list-alt">
									<h3>Many useful commands!</h3>
									<p>I have a ton of features, with a lot of commands. Check out the <a href="commands.html">command page</a> to get a list of all of my amazing commands!</p>
								</li>
							</ul>
						</div>
					</section>
					
				<!-- Two -->

				

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Convinced of my coolness?</h2>
								<p>I hope my bot will be useful to you, so if you see something in it please give it a try. If you have any doubts or questions about me feel free to ask in the <a href="http://support.timeplayed.xyz" target="_blank">support server</a>.</p>
							</header>
							<ul class="actions vertical" style="margin-top: 60px">
								<li><a href="http://invite.timeplayed.xyz" target="_blank" class="button fit special" style="width: 300px">Invite me</a></li>
								<li><a href="http://support.timeplayed.xyz" target="_blank" class="button fit special" style="width: 300px">Support Server</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://discordbots.org/bot/433625399398891541?" target="_blank" class="no-stripe"><img src="images/discordbots.png" style="width:30px"></a></li>
						<li><a href="http://support.timeplayed.xyz" target="_blank" class="no-stripe"><img src="images/discord.png" style="width:30px"></a></li>
						<li><a href="https://www.patreon.com/TimePlayed" target="_blank" class="no-stripe"><img src="images/patreon.png" style="width:30px"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Valentijn van Winden</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
