<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TimePlayed - Getting started</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">TimePlayed</a></h1>
						<% include ('./partials/nav') %>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Terms of Service</h2>
						</header>
						<section class="wrapper style5">
							<div class="inner">
                                <p>Last updated: July 30, 2018</p>

                                <p>Please read these Terms of Service ("Terms", "Terms and Conditions") carefully before accepting the terms of the TimePlayed Discord bot (identified by Discord id: 433625399398891541, or by the name TimePlayed#3248) (the "Service", "bot", "TimePlayed") operated by Valentijn van Winden, the owner of TimePlayed ("us", "we", or "our").</p>

                                <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

                                <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>


                                <h2>Termination</h2>

                                <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

                                <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>


								<h2>Data Collection</h2>

								<p>By accepting to the Terms of Service, you allow the Service to collect data from you. We will only store data that's relatable to the use of the Service, and we will not store any other unnecessary information.</p>

								<p>All data we collect from users comes from Discord. We store users' playtime using Discord's <a href="https://support.discordapp.com/hc/en-us/articles/217960107-Games-Detection-101" target="_blank">Game Detection</a>, and we store the last time users were online using Discord's <a href="https://support.discordapp.com/hc/en-us/articles/227779547-Changing-Online-Status" target="_blank">Status System</a>. We are not responsible for downtime/misinformation received from Discord.</p>

								<p>We do <strong>not</strong> redistribute any of your collected data to third parties, we treat your data very carefully and respect your privacy.</p>

								<p>However, we may analyze your data but only <strong>anonymously</strong>. It might be used in studies, reports, debugging and other uses but no specific user credentials will be mentioned. I will only access your personal playtime data when support is asked via your Discord account and troubleshooting is necessary. I will ask your permission before doing this.</p>


								<h2>Data protection</h2>

								<p>After accepting to these Terms of Service, your playtime data/last online is available to <strong>anyone you and TimePlayed shares a server with</strong>. You can prevent your playtime from being displayed to others by setting your playtime to private (using the <code>!!setPrivacy</code> command)</p>

								<p>All the data we collect from you is safely stored in a <a href="https://www.mysql.com/" target="_blank">MySQL</a> database, which we, like all other dependencies of the Service, update very often to keep your data safe. The database with your information is only locally accessible, as an extra layer of security. I am not responsible for any data compromises but I am trying my best to secure your data the best I can. If you have any more questions regarding the safety of your data please <a href="mailto:valentijnvanwinden@gmail.com">contact me</a>.</p>


                                <h2>Governing Law</h2>

                                <p>These Terms shall be governed and construed in accordance with the laws of Netherlands, without regard to its conflict of law provisions.</p>

                                <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>


								<h2>Erasing Data</h2>

								<p>As we collect information to you, you, as a user of the Service, have the right to let us erase all of your data at any time. To do so, send the bot a private message with the following message: <code>!!erase</code>, the bot will now ask for a confirmation and after you confirm this action all your collected data will be erased from the database.</p>

								<p>After the <code>!!erase</code> command is executed, you will automatically decline to the Terms of Service, so the bot will not log your playtime anymore. To still continue using the bot you will need to accept to the Terms of Service again.</p>


                                <h2>Changes</h2>

                                <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

                                <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>


                                <h2>Contact Us</h2>

                                <p>If you have any questions about these Terms, please <a href="https://discord.gg/3d8K6ak" target="_blank">contact us</a>.</p>
							</div>
						</section>
					</article>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://discordbots.org/bot/433625399398891541?" target="_blank" class="no-stripe"><img src="images/discordbots.png" style="width:30px"></a></li>
						<li><a href="http://support.timeplayed.xyz" target="_blank" class="no-stripe"><img src="images/discord.png" style="width:30px"></a></li>
						<li><a href="https://www.patreon.com/TimePlayed" target="_blank" class="no-stripe"><img src="images/patreon.png" style="width:30px"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Valentijn van Winden</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
