<style>
        .unsaved {
            display: flex;
            position: fixed;
            flex-direction: row;
            justify-content: space-around;
            bottom: -80px;
            margin: 0 auto;
            width: 40%;
            align-items: center;
            left: 50%;
            transform: translateX(-50%);
            background-color: #646566;
            border-radius: 12px;
            color: #fff;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-weight: 10px;
            padding: 8px;
        }
        .unsaved-text {
            margin-left: 10px;
            color: #fff;
            align-items: center;
        }
        .unsaved-buttons {
            margin-left: auto;
            margin-right: 30px;
            align-items: center; 
        }
        .unsaved-buttons button {
            text-transform: none;
            padding: 0px;
            text-align: center;
            height: 30px;
            width: 120px;
            line-height: 5px;
            border: 0px;
        }
        .unsaved-buttons .cancel {
            background-color: transparent;
        }
        .unsaved-buttons .confirm {
            background-color: #44b37f;
            border-radius: 4px;
        }
        .open {
            bottom: 20px !important; 
        }
        .transition{
            -webkit-transition: bottom 0.4s ease-out;  /* Chrome 1-25, Safari 3.2+ */
            -moz-transition: bottom 0.4s ease-out;  /* Firefox 4-15 */
                -o-transition: bottom 0.4s ease-out;  /* Opera 10.50–12.00 */
                    transition: bottom 0.4s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
        }

        /* Ellips */
        .lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 20px;
        }
        .lds-ellipsis div {
            position: absolute;
            top: 5px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: #fff;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }
        .lds-ellipsis div:nth-child(1) {
            left: 6px;
            animation: lds-ellipsis1 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(2) {
            left: 6px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(3) {
            left: 26px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(4) {
            left: 45px;
            animation: lds-ellipsis3 0.6s infinite;
        }
        @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
        }
        @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
        }
        @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(19px, 0);
        }
        }
    </style>
<div class="unsaved transition" id="unsaved">
    <div class="unsaved-text">You have some unsaved changes!</div>
    <div class="unsaved-buttons">
        <button class="cancel" id="reset" type="button">Reset</button>
        <button class="confirm" id="confirm" type="button"><p id="confirm-text" style="margin: 0px">Save Changes</p><div id="confirm-loading" class="lds-ellipsis" style="display: none;"><div></div><div></div><div></div><div></div></div></button>
    </div>
</div>
<script>
    var guildID = "<%= id %>";
    var changed = {};
    function saveText(input) {
        if(input.value != input.defaultValue) {
            changed[input.name] = input.value;
            $('#unsaved').addClass('open');
        } else {
            delete changed[input.name];
            if(Object.keys(changed).length < 2) {
                $('#unsaved').removeClass('open');
            }
        }
    }
    function saveSelect(select) {
        if(select.name == "guild") return;
        var same = false;
        for(i = 0; i < select.length; i++) {
            if(select[i].defaultSelected && i == select.selectedIndex) {
                same = true;
            }
        }
        if(!same) {
            changed[select.name] = select.value
            $('#unsaved').addClass('open');
            
        } else {
            delete changed[select.name];
            $('#unsaved').removeClass('open');
        }
    }
    function resetAll() {
        $('#unsaved').removeClass('open');
        changed = {};
        var inputs = document.getElementsByTagName("input")
        for(i = 0; i < inputs.length; i++) {
            inputs[i].value = inputs[i].defaultValue;
        }
        var textareas = document.getElementsByTagName("textarea")
        for(i = 0; i < textareas.length; i++) {
            textareas[i].value = textareas[i].defaultValue;
            updatePreview()
        }
        var selects = document.getElementsByTagName("select")
        for(i = 0; i < selects.length; i++) {
            var select = selects[i]
            if(select.name == "guild") continue;
            for(i = 0; i < select.length; i++) {
                var option = select[i]
                if(option.defaultSelected) {
                    select.selectedIndex = i;
                }
            }
        }
    }
    function saveChanges(changed) {
        document.getElementById("confirm-loading").style.display = "inline-block";
        document.getElementById("confirm-text").style.display = "none";
        changed.guildID = guildID;
        $.ajax({
            url : "/set-config",
            type: "POST",
            data: $.param(changed),
            success: function (data) {
                document.getElementById("confirm-loading").style.display = "none";
                document.getElementById("confirm-text").style.display = "inline-block";
                $("#response").html(data);
                $('#unsaved').removeClass('open');
                Object.keys(changed).forEach(function(key) {
                    if(key == "guildID") {
                        return;
                    }
                    var e = document.getElementsByName(key)[0]
                    if(e.localName == "select") {
                        for(i = 0; i < e.length; i++) {
                            var option = e[i]
                            if(option.value == changed[key]) {
                                option.defaultSelected = true;
                            } else {
                                option.defaultSelected = false;
                            }
                        }
                    } else {
                        e.defaultValue = changed[key];
                    }
                })
            }
        });
    }
</script>